/** analogue-clock.css (place in the same directory as AnalogueClock.java and ensure build script copies the file to the same location as AnalogueClock.class) */
#face {
  -fx-fill: radial-gradient(radius 180%, white, derive(white, -30%), derive(white, 30%));
  -fx-stroke: derive(black, -45%);
  -fx-stroke-width: 5;
  -fx-effect: dropshadow(three-pass-box, white, 10, 0, 4, 4);
}

#brand {
  -fx-font-size: 14px;
}

#hourHand {
  -fx-stroke: darkslategray;
  -fx-stroke-width: 4;
  -fx-stroke-line-cap: round;
}

#minuteHand {
  -fx-stroke: derive(darkslategray, -5%);
  -fx-stroke-width: 3;
  -fx-stroke-line-cap: round;
}

#secondHand {
  -fx-stroke: derive(black, -15%);
  -fx-stroke-width: 2;
  -fx-stroke-line-cap: round;
}

#spindle {
  -fx-fill: derive(black, +5%);
}

.tick {
  -fx-stroke: derive(black, -15%);
  -fx-stroke-width: 3;
  -fx-stroke-line-cap: round;
}